#map {
  width: 900px;
  height: 280px;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
}

.stations, .stations svg {
  position: absolute;
}

.mapFocus {
  position:absolute;
  z-index:2;
}

.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
  z-index:0;
}

.stations circle {
  stroke: black;
  stroke-width: 1.5px;
}

.tooltip {
  background-color: white;
  padding:10px;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
}