@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);

body {
    font-family: "Quicksand", sans-serif;
    color: #022B41;
}

.container {
  width: 900px;
  margin: 0 auto;
}

#map {
  width: 900px;
  height: 280px;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
}

.stations, .stations svg {
  position: absolute;
}

.mapFocus {
  position:absolute;
  z-index:2;
}

.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
  z-index:0;
}

.stations circle {
  stroke: black;
  stroke-width: 1.5px;
}

.tooltip {
  background-color: white;
  padding:10px;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
}

.graph{
  margin-top:10px;
  background-color: #F9F9FF
;
}